* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("images/calendar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    width: 100%;
    height: 80px;
    background-color: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.gsce {
    font-size: 30px;
    font-weight: bold;
    color: #fefefe;
}

.login {
    display: block;
    background-color: #fefefe;
    margin: 30px 500px 0px 500px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px 0px 30px;
}

h3 {
    font-size: 40px;
}

.hideme.active {
    display: none;
}

.hideme1.active {
    display: none;
}

.success1 {
    display: none;
    margin-top: 40px;
    margin-bottom: 85px;
    font-size: 40px;
    font-weight: bold;
}

.success1.active {
    display: block;
}

#username {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0.75rem;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
}

#pass {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0.75rem;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
}

.submit {
    width: 100%;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #fefefe;
    background-color: #11101b;
    outline: none;
}

.submit:hover {
    color: #11101b;
    background-color: #fefefe;
}

a {
    display: none;
}
 a.active {
    display: block;
 }

 .switch {
    width: 100%;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #fefefe;
    background-color: #11101b;
    outline: none;
 }

 .switch:hover {
    color: #11101b;
    background-color: #fefefe;
 }

 .submit.active {
    display: none;
 }

.failed {
    display: none;
    margin-top: 10px;
    font-size: 15px;
}

.failed1 {
    display: none;
    margin-top: 10px;
    font-size: 15px;
}

.failed2 {
    display: none;
    margin-top: 10px;
    font-size: 15px;
}

.failed.active {
    display: block;
}
.failed1.active {
    display: block;
}
.failed2.active {
    display: block;
}

@media only screen and (max-width: 1920px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 30px;
    }

    .login {
        margin: 30px 200px 0px 200px;
    }
}
@media only screen and (max-width: 1100px) {
    .gsce {
        font-size: 25px;
    }

    .login {
        margin: 30px 200px 0px 200px;
    }
}

@media only screen and (max-width: 900px) {
    .login {
        margin: 30px 50px 0px 50px;
    }
}